.map-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    grid-gap: 1rem;
    color: #fff;
    height: 100%;

}

.map {
    position: relative;
    height: 100% !important;
    margin-top: 4rem;
}

.display {
    width: 100% !important;
}

.fc-day {
    cursor: pointer;
}

.fc.fc-ltr.fc-bootstrap {
    height: 100% !important;
}

.fc-view-container {
    min-height: 100% !important
}

.fc-view {
    height: 100% !important;
}

.fc-event-container {
    cursor: pointer;
}

.map>div>div {
    width: 100% !important;
    height: 90% !important;
}

.header {
    padding: 2rem;
    display: flex;
    min-height: 3rem;
    justify-content: space-between;
}

.events {
    color: #fff;
    text-align: center;

    padding: 0 1rem;
    padding-bottom: 3rem;
}

.cta {
    text-align: right;
}

.header-text h3 {
    color: #fff;
}

.event-display {
    position: relative;
    min-height: 15rem;
    display: flex;
    flex-direction: column;
}

.map-display>div>div {
    width: 100% !important;
    height: 100% !important;
}

.map-display {
    position: relative;
    width: 100%;
    height: 10rem;

}

h6 {
    color: #000;
}

.info span {
    color: #000
}